body {
    font-family: courier;
    text-indent: 5em;

}

table {
    text-align: center;
}

th:nth-child(even) {
 background-color: #ffe4e1;
}

th:nth-child(odd) {
 background-color: #b0e0e6;
}


.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}