body {
    font-family: courier;
    text-indent: 5em;
}
h1{
    text-align: center;

}
p{
    text-indent: 5em;
}

#registerForm {
    position: absolute;
<<<<<<< HEAD
    left: 30%;
=======
    left: 25%;
>>>>>>> 2730a8826cefde259039148052bcc44ba0f34221
    bottom: 20%;

}

body #bdaypic {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity:0.2;
    position: relative
}