body {
    font-family: courier;
    text-indent: 5em;
}

body #bdaypic {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity:0.2;
    position: relative
}

h3 {
    font-size:60vm;
    position: absolute;
    left: 31%;
    bottom: 60%;

}

#logoutButton {
    position: absolute;
    bottom: 40%;
    left:45%;
    font-family: Courier;
    font-size: 30vm;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}
