body {
    font-family: courier;
    text-indent: 5em;
}


body #bdaypic {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height 50%;
    opacity:0.2;
    position: relative

}

 .contacts {
    position: absolute;
    left: 30%;
    bottom: 45%;
    font-size: 30vm;

 }