body #bdaypic {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity:0.2;
    position: relative
}

body {
font-family: courier;
    text-indent: 5em;
 }

 .AboutMe {
    position: absolute;
    left: 35%;
    bottom: 40%;

 }

 .faq {
    position: absolute;
    left: 35%;
    bottom: 20%;
    font-size: 15px;

 }

