<html>

<head>

</head>

<body>
<h1>Choose Your Items</h1>
<ul style="list-style-type:none">
  <li class="media">s
      <h3>Balloons</h3>
      <a href="https://www.amazon.com/MESHA-Inches-Assorted-Color-Balloons/dp/B017R22JJS/ref=sr_1_1_sspa?s=toys-and-games&ie=UTF8&qid=1524248978&sr=1-1-spons&keywords=balloons&psc=1">
          <img src="images/balloons.jpg" style="float:left;width:100px;height:100px;border:0;">
      </a>

      <h5 class="mt-0 mb-1">Price: 10.26 </h5>
    <div class="media-body">
     Colored Balloons 12”: Beautiful balloons in assorted colors to make your party most memorable. Use them for party favors, balloon decoration, or party decoration. Each order contains 144 pcs balloons in different shades. When blown up, each balloon has a diameter of 12 inches. The big size balloons are party supplies favorite.
    </div>
  </li>
  <li class="media">
    <h3>Party Hats</h3>
      <a href="https://www.amazon.com/Hongyong-Birthday-Party-Hats-colour/dp/B0799Q3FV8/ref=sr_1_2_sspa?s=toys-and-games&ie=UTF8&qid=1524251434&sr=1-2-spons&keywords=party+hats&psc=1">
          <img src="images/party_hats.jpg" style="float:left;width:100px;height:100px;border:0;">
      </a>

      <h5 class="mt-0 mb-1">Price: 6.99 </h5>
    Package Included 9 different hats and 2 crowns party hats with elastic string to keep hat in place. Family Interaction: Party hats are suitable for children and adults to play or coordinate with other birthday party supplies and party favors. Package Content: You will receive 9 pack cone shaped party hats with size(4.8” height*3.5”diameter) and 2 crowns party hats with size(3.5”height*2.6” Diameter)

    </div>
  </li>
  <li class="media">
   <h3>Utensils</h3>
      <a href=https://www.amazon.com/dp/B074LWXXYV/ref=asc_df_B074LWXXYV5446504/?tag=hyprod-20&creative=394997&creativeASIN=B074LWXXYV&linkCode=df0&hvadid=216562595669&hvpos=1o3&hvnetw=g&hvrand=2007489147443978069&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9004058&hvtargid=pla-350191206133>
          <img src="images/utensils.jpg" style="float:left;width:100px;height:100px;border:0;">
      </a>

      <h5 class="mt-0 mb-1">Price: 16.99 </h5>
     PREMIUM QUALITY - upscale, polished finish, extra heavy duty, durable and won't scratch or break easily.
    ELEGANT - looks like full size rose gold cutlery substitute for the real thing.
    COMBO PACK - set of 96 pieces. 32 of each Fork, Knife, Spoons, boxed for easier storage.
  <li class="media">
      <h3>Balloons</h3>
      <a href="https://www.amazon.com/Polka-Plastic-Tablecloth-Oojami-Rainbow/dp/B078RTJZ4K/ref=sr_1_10?s=home-garden&ie=UTF8&qid=1524252486&sr=1-10&keywords=party+tablecloth">
          <img src="images/tablecloth.jpg" style="float:left;width:100px;height:100px;border:0;">
      </a>

      <h5 class="mt-0 mb-1">Price: 11.99 </h5>
    <div class="media-body">
    4 ~ Plastic Rainbow Polka Dots Tablecloths ~ New in sealed package.
    54" x 108"
    Manufactured to the Highest Quality Available
    A great way to fight off stains, spills and drink rings at a party or picnic.
    </div>
  </li>
    </div>
  </li>
</ul>

	<a href="/guest">Invite Guests</a>
</body>

</html>