<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="home.html">plan-it</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html"> Search <span class="sr-only">(current)</span></a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="invite_guests.html">Invite Guests</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="Contact.html">Contact</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<h1>Welcome {{username}}</h1>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<h2>All Parties You Have Hosted</h2>
    <table>
        <th>Title </th>
        <th>Type </th>
        <th>Description </th>
        <th>Start Time </th>
        <th>End Time </th>

        {% for line in eventData %}
        <tr>
            <td>{{line.title}}</td>
            <td>{{line.type_of_party}}</td>
            <td>{{line.description}}</td>
            <td>{{line.start_time}}</td>
            <td>{{line.end_time}}</td>
        </tr>
        {% endfor %}
    </table>

<h2>Create an Party!</h2>
    <form action="/create_event" method="POST">
        <input type="text" name="title" placeholder="party title" required /> </br>
        <input type="text" name="type_of_party" placeholder="type of party" required /> </br>
        <input type="text" name="description" placeholder="description" required /> </br>
        <input type="text" name="start_time" placeholder="start_time(YYYY-MM-DD HH:MI:SS)" required /> </br>
        <input type="text" name="end_time" placeholder="end_time(YYYY-MM-DD HH:MI:SS)" required /> </br>
        <input type="submit" value="Create me!" />
    </form>

<a href="/logout">Logout</a>

</body>


</html>
