<!DOCTYPE html>
<html>

<head>

</head>

<body>


	<a href="/login">Login</a>
	<a href="/register">Register</a>

    <h1>Welcome to plan-it</h1>
       
    <form action="/party_type_search" method="POST">
        <h3>Let us know what type of party are you planning for? </h3>
        <select >
            <option value=birthday"> Birthday </option>
            <option value=halloween"> Halloween </option>
            <option value=anniversary"> Anniversary </option>
        </select>
        <input type="submit" value=search />
    </form>

</body>

</html>
