<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="home.html">plan-it</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html"> Search <span class="sr-only">(current)</span></a></li>
        <li><a href="login.html">Login</a></li>
        <li class="active"><a href="register.html">Register</a></li>
        <li><a href="invite_guests.html">Invite Guests</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="Contact.html">Contact</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<img id= 'bdaypic' src="images/logo.png">
<form id="registerForm" action="/registerAuth" method="POST">
	<h3>Fill in this form to register</h3>
	<br>
	<p> Username :
	<input type="text" name = "username" placeholder="username" required/> </br>
	</p>
	<p> Password :
	<input type="password" name = "password" placeholder="password" required/></br>
	</p>
	<p> First name :
	<input type="text" name = "firstname" placeholder="firstname" required/> </br>
	</p>
	<p> Last name :
	<input type="text" name = "lastname" placeholder="lastname" required/></br>
	</p>
	<p> Email :
	<input type="text" name = "email" placeholder="email" required/> </br>
	</p>
	<p> Zipcode :
	<input type="int" name = "zipcode" placeholder="zipcode" required/>
	</br>
	</p>
	<p>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	<p>{% endif %}</p>
	</p>
</form>

<p><a href="/">Go back</a></p>

<a href="/">Go back</a>

</body>


</html>
